<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="mtsSdkSection" type="Sportradar.MTS.SDK.Entities.Internal.SdkConfigurationSection, Sportradar.MTS.SDK" />
  </configSections>

  <!--  
    Required attributes:
    username: Username used to connect to the AMQP broker. Betradar provides this value.
    password: Password used to connect to the AMQP broker. Betradar provides this value.
    host: The hostname of the AMQP broker. Please use the following hostnames unless the integration team provides different ones. It must not contain port number.
        o Integration environment: mtsgate-ci.betradar.com
        o Production environment:  mtsgate-t1.betradar.com
        
    Optional attributes:
    vhost: The name of the virtual host configured on the AMQP broker. If the value is not specified the value of ‘/username’ attribute is used as virtual host.
    useSsl: The value specifying whether SSL will be used when connecting to the broker. Default value is true.
    node: This value is used to filter MTS responses which were produced as responses to requests send by different SDK instances. In most configurations each SDK should use different node value. Default value is 1.
    bookmakerId: When provided, it is used as the default value for the BookmakerId on the ticket. The value can be overridden when building the ticket. Betradar provides this value.
    limitId: When provided, it is used as the default value for the SelectionBuilder LimitId property on the ticket. The value can be overridden when building the ticket. Betradar provides
    the set of available values.
    currency: When provided, it is used as the default value for the Currency property on the ticket. The value must comply with the ISO 4217 standard.
    channel: When provided, it is used as the default value for the SenderChannel property on the ticket. Value must be one of the SenderChannel enumeration members.
    accessToken: When the selection id is build with UoF ids, this property and access to https://api.betradar.com is required. (when using SelectionBuilder.SetIdUof() method)
    provideAdditionalMarketSpecifiers (default:true): This value is used to indicate if the sdk should add market specifiers for specific markets. Only used when building selection using UnifiedOdds ids. If this is set to true and the user uses UOF markets, when there are special cases (market 215, or $score in SOV/SBV template), sdk automatically tries to add appropriate specifier; if set to false, user will need to add this manually.
    port: The port used to connect to AMQP broker. (Port should be chosen through the useSsl property. Manually setting port number should be used only when non-default port is required.)
    exclusiveConsumer: The value specifying whether the rabbit consumer channel should be exclusive. Default value is true.
    keycloakHost: The auth server for accessing MTS Client API.
    keycloakUsername: The default username used to get access token from the auth server. It can be overridden when the MTS Client API methods are called.
    keycloakPassword: The default password used to get access token from the auth server. It can be overridden when the MTS Client API methods are called.
    keycloakSecret: The secret used to get access token from the auth server.
    mtsClientApiHost: The MTS Client API host.

    Timeout attributes:
    ticketResponseTimeout: The ticket response timeout(ms). Default value is 15000ms and it can't be less than 10000ms or greater than 30000ms.
    ticketCancellationResponseTimeout: The ticket cancellation response timeout(ms). Default value is 600000ms and it can't be less than 10000ms or greater than 3600000ms.
    ticketCashoutResponseTimeout: The ticket cashout response timeout(ms). Default value is 600000ms and it can't be less than 10000ms or greater than 3600000ms.
    ticketNonSrSettleResponseTimeout: The non-sr ticket settlement response timeout(ms). Default value is 600000ms and it can't be less than 10000ms or greater than 3600000ms.
  --> 

  <mtsSdkSection username="aggregatorproduction" password="Corelite7" host="mtsgate-ci.betradar.com" />

</configuration>