bin/
obj/

*.cache
*.nupkg
*.pdb
*.trx
*.dll
*.zip
*DotSettings.user
*.pyc
*.user
*.suo
*.sln

.vs/

*.GhostDoc.xml
*.GhostDoc.user.dic
src/packages/*
src/TestResults/*
src/Help/*
sandcastle/Help/*
DemoProject/packages/*
XsdSchemaFetcher/SchemaFetcher/packages/*

build/Help/*
export

**/packages/*
**/custom/*